<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b9720845d2.js"
            crossorigin="anonymous"></script>

    <title>Essence Med</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-body-tertiary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Essence-Med</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Strona główna</a>
                <a class="nav-link" href="/appointments">Wizyty</a>
                <a class="nav-link" href="/contact">Kontakt</a>
                <a class="nav-link" href="/profile">Mój profil</a>
                <a class="nav-link" href="/logout">Wyloguj</a>
            </div>
        </div>
    </div>
</nav>
<h2>Lista wizyt</h2>
<div class="container-lg text-center m-2">
    <div th:if="${appointments.size() > 0}">
        <table class="table table-hover">
            <thead class="table">
            <tr>
                <th>Data</th>
                <th>Godzina</th>
                <th>Lekarz</th>
                <th>Notatka</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody  id="table-body" class="table-group-divider">
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.getDate()}"></td>
                <td th:text="${appointment.getStartTime()}"></td>
                <td th:text="${appointment.getDoctorsCredentials()}"></td>
                <td th:text="${appointment.getNotes()}"></td>
                <td th:if="${appointment.getCancelled().equals(false)}">
                    <form th:action="@{/appointments/cancel/{appointmentId}(appointmentId=${appointment.getAppointmentId()})}" method="post">
                        <button class="btn btn-secondary" type="submit">
                            Anuluj wizytę
                        </button>
                    </form>
                </td>
                <td th:unless="${appointment.getCancelled().equals(false)}">
                    <span>Wizyta anulowana</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>